<template>
  <div class="main-wrapper pet comming">
    <section class="featured">
      <div class="crumb center">
        <div class="container">
          <h1 class="text-center">
            Petihouse
            <span class="wow pulse" data-wow-delay="1s"> Comming Soon </span>
          </h1>
          <div class="bg_tran">Comming Soon</div>
          <h5>WE ARE PREPARING SOMETHING <span> MESMERIZING </span></h5>
        </div>
      </div>
    </section>

    <section class="coming">
      <div class="container">
        <ul data-countdown="2030/01/01 14:21:37" class="timer text-center">
          <li>
            <h2 class="days">264</h2>
            <h4>Days</h4>
          </li>
          <li>
            <h2 class="hours">18</h2>
            <h4>Hours</h4>
          </li>
          <li>
            <h2 class="minutes">10</h2>
            <h4>Minutes</h4>
          </li>
          <li>
            <h2 class="seconds">05</h2>
            <h4>Seconds</h4>
          </li>
        </ul>
        <div class="button text-center">
          <a href="#" class="btn main hvr-rectangle-in"
            ><i class="fas fa-paw me-2"></i> Follow us for updates</a
          >
        </div>
        <div class="image">
          <img src="images/home_5/dots.png" alt="" class="dots rotate" />
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted } from "vue";

export default defineComponent({
  name: "Coming",
  setup() {
    onMounted(() => {
      nextTick(() => {
        let testScript1 = document.createElement("script");
        testScript1.setAttribute("src", "js/jquery.countdown.js");
        document.head.appendChild(testScript1);
        let testScript = document.createElement("script");
        testScript.setAttribute("src", "js/test.js");
        document.head.appendChild(testScript);
      });
    });
    return {};
  },
});
</script>
