<template>
  <section>
    <div class="crumb center">
      <div class="container">
        <h1>
          Petihouse <span class="wow pulse" data-wow-delay="1s"> Contact </span>
        </h1>
        <div class="bg_tran">Contacto Petihouse</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span> CONTACT </span>
        </p>
      </div>
    </div>
  </section>

  <section class="map">
    <iframe
      width="100%"
      height="500"
      src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(Pets%20Event)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      ><a href="https://www.maps.ie/create-google-map/"
        >Create Google Map</a
      ></iframe
    >
  </section>

  <div class="pet about">
    <section class="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="icon orange">
                <div
                  class="svg-icon"
                  id="svg-1"
                  type="image/svg+xml"
                  data-svg-icon="images/home_5/svg/pet_location.svg"
                ></div>
              </div>
              <div class="context">
                <h5 class="orange">Address</h5>
                <p>32 Bell South St.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="icon yellow">
                <div
                  class="svg-icon"
                  id="svg-2"
                  type="image/svg+xml"
                  data-svg-icon="images/home_5/svg/pet_phone.svg"
                ></div>
              </div>
              <div class="context">
                <h5 class="yellow">Phone</h5>
                <p><a href="tel:+12345678900">+(1) 234 567 8900 </a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
              <div class="icon purple">
                <div
                  class="svg-icon"
                  id="svg-3"
                  type="image/svg+xml"
                  data-svg-icon="images/home_5/svg/pet_mail.svg"
                ></div>
              </div>
              <div class="context">
                <h5 class="purple">Email</h5>
                <p>
                  <a href="mailto:support@pawrex.com"> support@pawrex.com </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="pet service">
    <section class="contact">
      <div class="container">
        <div class="heading text-center">
          <p class="wow fadeInUp">
            <span class="purple"><i class="fas fa-paw"></i> </span
            ><span class="orange"><i class="fas fa-paw"></i> </span
            ><span class="purple"><i class="fas fa-paw"></i> </span>
          </p>
          <h2>
            Contact <span class="wow pulse" data-wow-delay="1s"> Us </span>
          </h2>
        </div>
        <div class="card">
          <div class="faq wow fadeInRight">
            <form method="POST">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="Name"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Email"
                      class="form-control"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <input
                      type="text"
                      id="subject"
                      class="form-control"
                      placeholder="Subject"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <textarea
                      name="comment"
                      id="comment"
                      class="form-control"
                      placeholder="Your Comments"
                    ></textarea>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                    <button type="submit" class="btn form-control">
                      Submit Now
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted } from "vue";

export default defineComponent({
  name: "Contact",
  setup() {
    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {};
  },
});
</script>
