<template>
  <section>
    <div class="crumb center">
      <div class="container">
        <h1>
          Petihouse
          <span class="wow pulse" data-wow-delay="1s"> New Password </span>
        </h1>
        <div class="bg_tran">Petihouse New Password</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span>NEW PASSWORD</span>
        </p>
      </div>
    </div>
  </section>

  <div class="pet service">
    <section class="contact">
      <div class="container">
        <div class="card">
          <div class="content">
            <div class="heading text-center">
              <p class="wow fadeInUp">
                <span class="purple"><i class="fas fa-paw"></i> </span
                ><span class="orange"><i class="fas fa-paw"></i> </span
                ><span class="purple"><i class="fas fa-paw"></i> </span>
              </p>
              <h3>
                <span class="wow pulse" data-wow-delay="1s">
                  New Password
                </span>
              </h3>
            </div>
            <div class="faq wow fadeInRight mt-4">
              <form method="POST" @submit.prevent="onSubmit()">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div
                      v-show="isVisible"
                      class="alert alert-warning alert-dismissible fade show"
                      role="alert"
                    >
                      Invalid password
                      <a
                        @click="isVisible = false"
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                        style="float: right !important"
                      >
                        <span aria-hidden="true">&times;</span>
                      </a>
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password"
                        class="form-control"
                        required
                        v-model="model.password"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group text-center">
                      <button
                        type="submit"
                        class="btn form-control"
                        :disabled="busy"
                      >
                        <span
                          v-if="busy"
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        Accept
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  nextTick,
  onMounted,
  reactive,
  ref,
  watch,
} from "vue";
import useAccount from "@/modules/account/account.module";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "Password",
  setup() {
    const { loading, isAuthenticated, doChangePassword, error } = useAccount();
    const router = useRouter();

    const model = reactive({ password: "" });
    const busy = ref(false);
    const isVisible = ref(false);
    const description = ref("");

    function onSubmit() {
      doChangePassword(model).finally(() => {
        if (!error.value) {
          router.push("/");
        }
        if (error.value) {
          isVisible.value = !!error.value;
          switch (error.value.error) {
            default:
              description.value = "Unknown error code " + error.value.error;
          }
        }
      });
    }

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return { model, onSubmit, busy, isVisible };
  },
});
</script>
