<template>
  <section>
    <div class="crumb center">
      <div class="container">
        <h1>
          Petihouse <span class="wow pulse" data-wow-delay="1s"> Users </span>
        </h1>
        <div class="bg_tran">Petihouse Users</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span> USERS </span>
        </p>
      </div>
    </div>
  </section>

  <section class="entry">
    <div class="container">
      <div class="card mb-5">
        <div
          v-show="isVisible"
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          {{ description }}
          <a
            @click="isVisible = false"
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            style="float: right !important"
          >
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Last Names</th>
              <th scope="col">Email</th>
              <th scope="col">Active</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="person in persons" :key="person.id">
              <th scope="row">{{ person.name }}</th>
              <td>{{ person.lastnames }}</td>
              <td>{{ person.email }}</td>
              <td>
                <div class="form-check form-switch" v-if="person.status !== -1">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="person.id"
                    :checked="person.status === 1"
                    :disabled="person.status === -1"
                    @change="onChangeStatus"
                  />
                </div>
              </td>
              <td>
                <a
                  class="text-primary mx-2"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  :disabled="person.status === -1"
                  v-if="person.status !== -1"
                >
                  <i
                    class="fas fa-asterisk"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Change Password"
                  ></i>
                </a>
                <form
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton1"
                  @click.stop=""
                  method="POST"
                  @submit.prevent="onOverride(person)"
                >
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      required
                      v-model="person.password"
                      :key="person.id"
                    />
                  </div>

                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn mx-2 btn-sm"
                      :disabled="busy"
                    >
                      <span
                        v-if="busy"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Save
                    </button>
                  </div>
                </form>
                <a
                  class="text-primary mx-2"
                  type="button"
                  id="dropdownMenuButton2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  :disabled="person.status === -1"
                  v-if="person.status !== -1"
                >
                  <i
                    class="fas fa-shield"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Change Roles"
                  ></i>
                </a>
                <form
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton2"
                  @click.stop=""
                  method="POST"
                  @submit.prevent="onSaveRoles(person)"
                >
                  <div class="form-check mx-2">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      :value="8"
                      v-model="person.roles"
                    />
                    <label class="form-check-label"> User </label>
                  </div>

                  <div class="form-check mx-2">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      :value="32"
                      v-model="person.roles"
                    />
                    <label class="form-check-label"> Admin </label>
                  </div>

                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn mx-2 btn-sm"
                      :disabled="busy"
                    >
                      <span
                        v-if="busy"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Save
                    </button>
                  </div>
                </form>
                <a
                  type="button"
                  class="text-error mx-2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Delete User"
                  @click="onDelete(person.id)"
                  v-if="person.status !== -1"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted, ref, watch } from "vue";
import useAccount from "@/modules/account/account.module";

export default defineComponent({
  name: "PersonAdmin",
  setup() {
    const {
      loading,
      person,
      doGetPersons,
      doRolesChange,
      error,
      doPWROverride,
      doChangeStatus,
    } = useAccount();
    const busy = ref(false);
    const persons = ref();
    const isVisible = ref(false);
    const description = ref("");
    const password = ref("");
    const status = ref("");
    doGetPersons().then((value) => {
      persons.value = value.filter(
        (value1) => value1.id !== person?.value?.person.id
      );
    });

    function onSaveRoles(person: any) {
      doRolesChange({ id: person.id, roles: person.roles }).finally(() => {
        if (error.value) {
          isVisible.value = !!error.value;
          switch (error.value.error) {
            default:
              description.value = "Unknown error code " + error.value.error;
          }
        }
      });
    }

    function onOverride(person: any) {
      doPWROverride({ id: person.id, password: person.password }).finally(
        () => {
          person.password = null;
          if (error.value) {
            isVisible.value = !!error.value;
            switch (error.value.error) {
              default:
                description.value = "Unknown error code " + error.value.error;
            }
          }
        }
      );
    }

    function onChangeStatus(e: any) {
      doChangeStatus({
        id: e.target.id,
        status: e.target.checked ? 1 : 0,
      }).finally(() => {
        if (error.value) {
          isVisible.value = !!error.value;
          switch (error.value.error) {
            default:
              description.value = "Unknown error code " + error.value.error;
          }
        }
      });
    }

    function onDelete(id: string) {
      doChangeStatus({ id: id, status: -1 }).finally(() => {
        if (error.value) {
          isVisible.value = !!error.value;
          switch (error.value.error) {
            default:
              description.value = "Unknown error code " + error.value.error;
          }
        }
        doGetPersons().then((value) => {
          persons.value = value.filter(
            (value1) => value1.id !== person?.value?.person.id
          );
        });
      });
    }

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {
      persons,
      onSaveRoles,
      busy,
      isVisible,
      description,
      password,
      onOverride,
      onChangeStatus,
      onDelete,
      status,
    };
  },
});
</script>
