<template>
  <section>
    <div class="crumb center">
      <div class="container">
        <h1>
          Petihouse <span class="wow pulse" data-wow-delay="1s"> Profile </span>
        </h1>
        <div class="bg_tran">Petihouse Profile</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span> PROFILE </span>
        </p>
      </div>
    </div>
  </section>

  <div class="pet service">
    <section class="contact">
      <div class="container">
        <form method="POST" @submit.prevent="onSubmit()">
          <div class="row justify-content-around">
            <div class="col-lg-8 col-md-12 col-sm-12 text-center">
              <div class="faq wow fadeInRight">
                <div class="heading">
                  <p class="wow fadeInUp">
                    <span class="purple"><i class="fas fa-paw"></i> </span
                    ><span class="orange"><i class="fas fa-paw"></i> </span
                    ><span class="purple"><i class="fas fa-paw"></i> </span>
                  </p>
                  <h3>
                    User
                    <span class="wow pulse" data-wow-delay="1s"> Profile </span>
                  </h3>
                </div>
                <div class="row">
                  <div class="image text-center wow fadeInLeft" :key="imgKey">
                    <img
                      :src="
                        image.image
                          ? `http://localhost:5069/v1/account/image/${image.image}`
                          : 'images/home_5/bowl6.png'
                      "
                      alt="image of product"
                      title="product"
                      class="img-fluid rounded-circle"
                      style="max-width: 175px; max-height: 179px"
                    />

                    <p>
                      <label class="btn btn-default">
                        <span
                          v-if="busy"
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        Change image
                        <input type="file" hidden @change="onFileChange" />
                      </label>
                    </p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="f_name"
                        class="form-control"
                        placeholder="First Name"
                        required
                        v-model="model.name"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="l_name"
                        class="form-control"
                        placeholder="Last Name"
                        required
                        v-model="model.lastnames"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        class="form-control"
                        required
                        v-model="model.email"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="phone"
                        class="form-control"
                        placeholder="Phone"
                        required
                        v-model="model.phone"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="ci"
                        class="form-control"
                        placeholder="Identification Card"
                        required
                        v-model="model.identificationCard"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="date"
                        id="date"
                        class="form-control"
                        placeholder="Date Of Birth"
                        required
                        v-model="model.dateOfBirth"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <select
                        class="form-select"
                        id="pet"
                        v-model="model.province"
                        @change="update"
                      >
                        <option
                          v-for="p in provinces"
                          :value="p.id"
                          :key="p.id"
                        >
                          {{ p.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <select
                        class="form-select"
                        id="pet1"
                        v-model="model.city"
                        @change="update"
                      >
                        <option
                          v-for="c in province.cities"
                          :value="c.id"
                          :key="c.id"
                        >
                          {{ c.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="address"
                        class="form-control"
                        placeholder="Address"
                        required
                        v-model="model.address"
                        @change="update"
                      />
                    </div>
                  </div>
                  <div
                    v-show="isVisible"
                    class="alert alert-warning alert-dismissible fade show"
                    role="alert"
                  >
                    Update Error
                    <a
                      @click="isVisible = false"
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                      style="float: right !important"
                    >
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn form-control"
                        :disabled="!change || busy"
                      >
                        <span
                          v-if="busy"
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        Login Update Profile
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  nextTick,
  onMounted,
  reactive,
  ref,
  watch,
} from "vue";
import useAccount from "@/modules/account/account.module";
import useProvince from "@/modules/account/province.module";

export default defineComponent({
  name: "PersonProfile",
  setup() {
    const { person, doUpdatePersonProfile, error, loading, doImageChange } =
      useAccount();
    const { doGetAllProvince } = useProvince();
    const busy = ref(false);
    const isVisible = ref(false);
    const change = ref(false);
    const imgKey = ref(0);
    const model = reactive({
      name: person?.value?.person?.name,
      lastnames: person?.value?.person?.lastnames,
      email: person?.value?.person?.email,
      phone: person?.value?.person?.phone,
      dateOfBirth: person?.value?.person?.dateOfBirth?.split("T")[0],
      address: person?.value?.person?.address,
      province: (person?.value?.person?.province as any).id,
      city: (person?.value?.person?.city as any).id,
      identificationCard: person?.value?.person?.identificationCard,
    });
    const province: any = ref("");
    const provinces: any = ref("");
    doGetAllProvince().then((value) => {
      provinces.value = value;
      province.value = provinces.value.find(
        (element: any) => element.id === model.province
      );
    });

    const image = reactive({ image: person?.value?.person?.image });

    function update() {
      change.value =
        model.name != person?.value?.person?.name ||
        model.lastnames != person?.value?.person?.lastnames ||
        model.email != person?.value?.person?.email ||
        model.dateOfBirth !=
          person?.value?.person?.dateOfBirth?.split("T")[0] ||
        model.address != person?.value?.person?.address ||
        model.province != (person?.value?.person?.province as any).id ||
        model.city != (person?.value?.person?.city as any).id ||
        model.identificationCard != person?.value?.person?.identificationCard ||
        model.phone != person?.value?.person?.phone;
    }

    function onFileChange(e: {
      target: { files: any };
      dataTransfer: { files: any };
    }) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      doImageChange(files[0]);
    }

    function onSubmit() {
      doUpdatePersonProfile(model).finally(() => {
        isVisible.value = !!error.value;
        update();
      });
    }

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    watch(
      () => person.value,
      async (newVal) => {
        image.image = newVal?.person?.image;
        imgKey.value += 1;
      }
    );

    watch(
      () => model.province,
      async (newVal) => {
        province.value = provinces.value.find(
          (element: any) => element.id === newVal
        );
        model.city = province.value.cities.find(
          (element: any) => element.id === model.city
        );
        if (model.city) {
          model.city = (model.city as any).id;
        } else {
          model.city = province.value.cities[0].id;
        }
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {
      model,
      change,
      update,
      onSubmit,
      isVisible,
      busy,
      image,
      onFileChange,
      imgKey,
      provinces,
      province,
    };
  },
});
</script>
