<template>
  <section>
    <div class="crumb">
      <div class="container">
        <h1>
          Donate <span class="wow pulse" data-wow-delay="1s"> Petihouse </span>
        </h1>
        <div class="bg_tran">Donate Petihouse</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span>DONATION</span>
        </p>
      </div>
    </div>
  </section>

  <div class="pet about">
    <section class="about_us">
      <div class="container">
        <div class="heading text-center">
          <p class="wow fadeInUp">
            <span class="purple"><i class="fas fa-paw"></i> </span
            ><span class="orange"><i class="fas fa-paw"></i> </span
            ><span class="purple"><i class="fas fa-paw"></i> </span>
          </p>
          <h2 class="wow fadeInDown">
            Your Gift Save
            <span class="wow pulse" data-wow-delay="1s"> Lives</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="text">
              <p>
                Abortively yikes the due conditional jaded more gave and gasped
                silent prior while that rash far up much more gosh however
                concentric savagely a much hands omely iguana and there fored
                less piously much leopard krill and less amidst sleekly seal
                yikes one less amidst jeepers some crucially rebelliously
                mammoth one.Due thanks blissfully reverent.
              </p>
              <p>
                That dismounted insistent sincey growled lynx played less
                cardinal amongst irrespective far far unblushing or less asd far
                pungently beaver beauteously crane or gregariously far
                flatteringly much so spilled showily hey much quail
                extraordinary evidently cobra crud testy shut.
              </p>

              <div class="button">
                <a href="#" class="btn main" title="Services">
                  More Services <i class="fas fa-paw"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="image">
              <div
                class="
                  an_image
                  an_image_hz_ps_center
                  an_image_anime_delay_300
                  an_image_anime_duration_1500
                  an_image_anime_style_ease_out_sine
                "
                data-speed="1.2"
              >
                <div class="an_image_image" data-speed="1.2">
                  <div class="pt_image">
                    <span
                      ><img
                        src="images/home_5/pets.png"
                        title="Pet"
                        alt="Image of Pet"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="pet service">
    <section class="contact">
      <div class="container">
        <div class="heading text-center">
          <p class="wow fadeInUp">
            <span class="purple"><i class="fas fa-paw"></i> </span>
            <span class="orange"><i class="fas fa-paw"></i> </span>
            <span class="purple"><i class="fas fa-paw"></i> </span>
          </p>
          <h2>
            Your
            <span class="wow pulse" data-wow-delay="1s"> Information </span>
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="faq wow fadeInRight">
              <form method="POST">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Your Amount:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="exampleRadios"
                          id="exampleRadios1"
                          value="option1"
                          checked
                        />
                        <label class="form-check-label" for="exampleRadios1">
                          $10
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="exampleRadios"
                          id="exampleRadios2"
                          value="option2"
                        />
                        <label class="form-check-label" for="exampleRadios2">
                          $20
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="exampleRadios"
                          id="exampleRadios3"
                          value="option3"
                        />
                        <label class="form-check-label" for="exampleRadios3">
                          $30
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="exampleRadios"
                          id="exampleRadios4"
                          value="option4"
                        />
                        <label class="form-check-label" for="exampleRadios4">
                          $50
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="exampleRadios"
                          id="exampleRadios5"
                          value="option5"
                        />
                        <label class="form-check-label" for="exampleRadios5">
                          $100
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="number"
                        id="custom"
                        class="form-control"
                        placeholder="Custom Amount $"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group amount">
                      I want to make
                      <select class="form-select-inline">
                        <option value="" selected>Select Duration</option>
                        <option value="One Time">One Time Donation</option>
                        <option value="Weekly">Weekly Donation</option>
                        <option value="Monthly">Monthly Donation</option>
                        <option value="Yearly">Yearly Donation</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="f_name"
                        class="form-control"
                        placeholder="First Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="l_name"
                        class="form-control"
                        placeholder="Last Name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="number"
                        id="number"
                        class="form-control"
                        placeholder="Phone"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <select class="form-select">
                        <option value="" selected>City</option>
                        <option value="bristol">Bristol</option>
                        <option value="washington">Washington</option>
                        <option value="salem">Salem</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <select class="form-select">
                        <option value="" selected>State</option>
                        <option value="albama">Albama</option>
                        <option value="alaska">Alaska</option>
                        <option value="lowa">Lowa</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="number"
                        name="service"
                        id="zip"
                        placeholder="Zip-Code"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                      <input
                        type="number"
                        name="address"
                        id="address"
                        placeholder="Address"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <textarea
                        name="msg"
                        id="msg"
                        class="form-control"
                        placeholder="Additional Note..."
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <button type="submit" class="btn form-control">
                        Donate Now
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted } from "vue";

export default defineComponent({
  name: "PetDonate",
  setup() {
    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {};
  },
});
</script>
