<template>
  <section>
    <div class="crumb">
      <div class="container">
        <h1>
          Petihouse <span class="wow pulse" data-wow-delay="1s"> Error </span>
        </h1>
        <div class="bg_tran">Petihouse Error</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span> ERROR-404 </span>
        </p>
      </div>
    </div>
  </section>

  <section class="error">
    <div class="container">
      <div class="content text-center">
        <div
          class="
            an_image
            an_image_hz_ps_left
            an_image_vt_ps_middle
            an_image_anime_delay_300
            an_image_anime_duration_1500
            an_image_anime_style_ease_out_sine
          "
          data-speed="1.2"
        >
          <div class="an_image_image" data-speed="1.2">
            <div class="pt_image">
              <span>
                <img
                  src="images/home_5/frisbee.png"
                  title="Frisbee"
                  alt="Image of Frisbee"
                  class="frisbee"
                />
              </span>
            </div>
          </div>
        </div>
        <h2 class="yellow">404</h2>
        <h4>PAGE NOT <span> FOUND </span></h4>
        <h5 class="mb-5">Oops, the page you are looking for does not exit.</h5>
        <a href="index.html" class="btn main"
          ><i class="fas fa-paw mr-2"></i> Back to Home</a
        >
        <div
          class="
            an_image
            an_image_hz_ps_right
            an_image_vt_ps_middle
            an_image_anime_delay_300
            an_image_anime_duration_1500
            an_image_anime_style_ease_out_sine
          "
          data-speed="1.2"
        >
          <div class="an_image_image" data-speed="1.2">
            <div class="pt_image">
              <span>
                <img
                  src="images/home_5/ball.png"
                  title="Pet"
                  alt="Image of Pet"
                  class="ball"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted } from "vue";

export default defineComponent({
  name: "PetError",
  setup() {
    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {};
  },
});
</script>

<style scoped lang="scss"></style>
