<template>
  <section>
    <div class="crumb">
      <div class="container">
        <h1>Adopt <span class="wow pulse" data-wow-delay="1s"> Pet </span></h1>
        <div class="bg_tran">Adopt Pet</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          ||
          <router-link :to="{ name: 'pets' }"> PETS</router-link>
          ||
          <span> PET PROFILE </span>
        </p>
      </div>
    </div>
  </section>

  <section class="profile" v-if="pet.owner">
    <div class="container">
      <div class="slide">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="new_custom images">
              <div class="owl-carousel">
                <div class="item">
                  <div class="testimon">
                    <div class="image">
                      <img
                        v-if="pet && pet.image"
                        :src="`http://localhost:5069/v1/account/image/${pet.image}`"
                        alt="image of pet"
                        title="pet"
                        class="img-fluid customer"
                      />
                    </div>
                  </div>
                </div>
                <div class="item" v-for="img in pet?.images" :key="img">
                  <div class="testimon">
                    <div class="image">
                      <img
                        :src="`http://localhost:5069/v1/account/image/${img}`"
                        alt="image of pet"
                        title="pet"
                        class="img-fluid customer"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="spec">
              <div class="name">
                <h3>Name: <span> Tinko </span></h3>
              </div>
              <ul>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Age: {{ pet.age }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Gender:
                  {{
                    pet.gender === 1
                      ? "Male"
                      : pet.gender === 0
                      ? "Not defined"
                      : "Female"
                  }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Size:
                  {{
                    pet.size === 0
                      ? "Not defined"
                      : pet.size === 1
                      ? "Little"
                      : pet.size === 2
                      ? "Medium"
                      : "Big"
                  }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Weight:
                  {{ pet.weight }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Color: {{ pet.color }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Race: {{ pet.race }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> Province:
                  {{ pet.province.name }}
                </li>
                <li style="width: 100%; display: block">
                  <i class="fas fa-paw yellow me-2"></i> City:
                  {{ pet.city.name }}
                </li>
              </ul>
              <div class="context my-4" v-if="!auth">
                <h5 class="orange">Please Login First</h5>
              </div>
              <my-button v-if="!auth" main :to="{ name: 'login' }"
                >Login <i class="fas fa-paw"></i
              ></my-button>
              <my-button
                v-if="adopt && auth"
                main
                @click.prevent.capture="onInterested"
              >
                <span
                  v-if="busy"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Adopt Now
                <i class="fas fa-paw"> </i>
              </my-button>
              <my-button
                v-if="person?.person?.id === pet.owner && pet.status === 1"
                main
                :to="{ name: 'pet-register', params: { id: pet.id } }"
              >
                Edit
                <i class="fas fa-paw"></i>
              </my-button>
              <my-button
                v-if="admin && pet.status === 0 && auth"
                main
                @click.prevent.capture="onActive"
              >
                Unblock
                <i class="fas fa-paw"></i>
              </my-button>
              <my-button
                v-if="admin && pet.status === 2 && auth"
                main
                @click.prevent.capture="onActive"
              >
                Active
                <i class="fas fa-paw"></i>
              </my-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="entry"
    v-if="
      person?.person?.id === pet.owner &&
      (pet.status !== -1 || pet.status !== 3 || pet.status !== 0)
    "
  >
    <div class="container">
      <div class="card mb-5">
        <div
          v-show="isVisible"
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          {{ description }}
          <a
            @click="isVisible = false"
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            style="float: right !important"
          >
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">Avatar</th>
              <th scope="col">Name</th>
              <th scope="col">Lastnames</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="person in pet.interested" :key="person.id">
              <th scope="row">
                <img
                  :src="
                    person.image
                      ? `http://localhost:5069/v1/account/image/${person.image}`
                      : '../assets/images/fox.jpg'
                  "
                  width="40"
                  height="40"
                  class="avatar rounded-circle"
                  alt=""
                />
              </th>
              <td>{{ person.name }}</td>
              <td>{{ person.lastnames }}</td>
              <td>{{ person.email }}</td>
              <td>{{ person.phone }}</td>
              <td class="orange" v-if="pet.status === 1">
                <a
                  type="button"
                  class="text-error mx-2 text-success"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Accept request"
                  @click="onAccepted(person.id)"
                >
                  <i class="fas fa-check"></i>
                </a>
                <a
                  type="button"
                  class="text-error mx-2"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Deni request"
                  @click="onDenied(person.id)"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted, ref, watch } from "vue";
import MyButton from "@/components/Button.vue";
import usePet from "@/modules/account/pet.module";
import useAccount from "@/modules/account/account.module";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "PetProfile",
  components: { MyButton },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const router = useRouter();
    const {
      doGetPetProfile,
      doPetDenied,
      doPetAccepted,
      doPetInterested,
      doPetActive,
      error,
      loading,
    } = usePet();
    const { person, isAdmin, isAuthenticated } = useAccount();
    const pet: any = ref("");
    const busy = ref(false);
    const isVisible = ref(false);
    const description = ref("");
    const adopt = ref(false);
    const admin = ref(isAdmin());
    const auth = ref(isAuthenticated());
    doGetPetProfile(props.id).then((item) => {
      (pet.value as any) = item;
      if (
        person.value?.person?.id !== pet.value?.owner &&
        !person.value?.person?.id !== pet.value?.accepted &&
        pet.value?.status === 1 &&
        !pet.value?.interested.some(
          (e: { id: string | undefined }) => e.id === person.value?.person?.id
        )
      ) {
        adopt.value = true;
      }
    });

    function onDenied(id: string) {
      doPetDenied({ id: props.id, person: id })
        .then((item) => {
          (pet.value as any) = item;
        })
        .finally(() => {
          if (error.value) {
            isVisible.value = !!error.value;
            switch (error.value.error) {
              default:
                description.value = "Unknown error code " + error.value.error;
            }
          } else {
            isVisible.value = !!error.value;
          }
        });
    }

    function onAccepted(id: string) {
      doPetAccepted({ id: props.id, person: id })
        .then((item) => {
          (pet.value as any) = item;
        })
        .finally(() => {
          if (error.value) {
            isVisible.value = !!error.value;
            switch (error.value.error) {
              default:
                description.value = "Unknown error code " + error.value.error;
            }
          } else {
            isVisible.value = !!error.value;
          }
        });
    }

    function onInterested() {
      doPetInterested({ id: pet.value.id })
        .then((item) => {
          (pet.value as any) = item;
          router.push({ name: "pets" });
        })
        .finally(() => {
          if (error.value) {
            isVisible.value = !!error.value;
            switch (error.value.error) {
              default:
                description.value = "Unknown error code " + error.value.error;
            }
          } else {
            isVisible.value = !!error.value;
          }
        });
    }

    function onActive() {
      doPetActive({ id: pet.value.id })
        .then((item) => {
          (pet.value as any) = item;
          router.push({ name: "pets" });
        })
        .finally(() => {
          if (error.value) {
            isVisible.value = !!error.value;
            switch (error.value.error) {
              default:
                description.value = "Unknown error code " + error.value.error;
            }
          } else {
            isVisible.value = !!error.value;
          }
        });
    }

    watch(
      () => person.value,
      async () => {
        auth.value = isAuthenticated();
      }
    );

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {
      pet,
      person,
      onDenied,
      description,
      onAccepted,
      isVisible,
      admin,
      adopt,
      auth,
      onInterested,
      busy,
      onActive,
    };
  },
});
</script>

<style scoped lang="scss">
.entry .table .thead {
  background: var(--pt_purple);
}
</style>
