<template>
  <section>
    <div class="crumb">
      <div class="container">
        <h1>
          Pet
          <span class="wow pulse" data-wow-delay="1s">
            {{ !id ? "Register" : "Update" }}
          </span>
        </h1>
        <div class="bg_tran">Register</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span>{{ !id ? "REGISTER" : "UPDATE" }}</span>
        </p>
      </div>
    </div>
  </section>

  <div class="pet service">
    <section class="contact">
      <div class="container">
        <div class="heading text-center">
          <p class="wow fadeInUp">
            <span class="purple"><i class="fas fa-paw"></i> </span>
            <span class="orange"><i class="fas fa-paw"></i> </span>
            <span class="purple"><i class="fas fa-paw"></i> </span>
          </p>
          <h2>
            Pet
            <span class="wow pulse" data-wow-delay="1s">
              {{ !id ? "Register" : "Update" }}
            </span>
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="faq wow fadeInRight">
              <form method="POST" @submit.prevent="onSubmit()">
                <div class="row">
                  <div class="image text-center wow fadeInLeft">
                    <input
                      ref="fileInput"
                      type="file"
                      hidden
                      @change="onFileChange"
                    />
                    <img
                      :src="
                        model.image
                          ? typeof model.image === 'string'
                            ? `http://localhost:5069/v1/account/image/${model.image}`
                            : imageData
                          : 'images/home_5/bowl6.png'
                      "
                      alt="image of product"
                      title="product"
                      class="img-fluid rounded-circle mb-4"
                      style="width: 175px; height: 179px"
                      @click="$refs.fileInput.click()"
                    />
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Pet Gender:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="gender1"
                          :value="0"
                          v-model="model.gender"
                          checked
                        />
                        <label class="form-check-label" for="gender1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="gender2"
                          :value="1"
                          v-model="model.gender"
                        />
                        <label class="form-check-label" for="gender2">
                          Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="gender3"
                          :value="2"
                          v-model="model.gender"
                        />
                        <label class="form-check-label" for="gender3">
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Pet Size:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="size1"
                          :value="0"
                          v-model="model.size"
                          checked
                        />
                        <label class="form-check-label" for="size1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="size2"
                          :value="1"
                          v-model="model.size"
                        />
                        <label class="form-check-label" for="size2">
                          Little
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="size3"
                          :value="2"
                          v-model="model.size"
                        />
                        <label class="form-check-label" for="size3">
                          Medium
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="size4"
                          :value="3"
                          v-model="model.size"
                        />
                        <label class="form-check-label" for="size4">
                          Big
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Pet Allergies:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="allergies1"
                          :value="0"
                          v-model="model.allergies"
                          checked
                        />
                        <label class="form-check-label" for="allergies1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="allergies2"
                          :value="1"
                          v-model="model.allergies"
                        />
                        <label class="form-check-label" for="allergies2">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="allergies3"
                          :value="2"
                          v-model="model.allergies"
                        />
                        <label class="form-check-label" for="allergies3">
                          No
                        </label>
                      </div>
                      <textarea
                        v-if="model.allergies === 1"
                        name="msg"
                        id="allergiesDescription"
                        class="form-control"
                        placeholder="Additional Note..."
                        required
                        v-model="model.allergiesDescription"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Pet Treatment:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="treatment1"
                          :value="0"
                          v-model="model.receivesTreatment"
                          checked
                        />
                        <label class="form-check-label" for="treatment1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="treatment2"
                          :value="1"
                          v-model="model.receivesTreatment"
                        />
                        <label class="form-check-label" for="treatment2">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="treatment3"
                          :value="2"
                          v-model="model.receivesTreatment"
                        />
                        <label class="form-check-label" for="treatment3">
                          No
                        </label>
                      </div>
                      <textarea
                        v-if="model.receivesTreatment === 1"
                        name="msg"
                        id="treatmentDescription"
                        class="form-control"
                        placeholder="Additional Note..."
                        required
                        v-model="model.receivesTreatmentDescription"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Pet Chronic Illness:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="chronic1"
                          :value="0"
                          v-model="model.chronicIllness"
                          checked
                        />
                        <label class="form-check-label" for="chronic1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="chronic2"
                          :value="1"
                          v-model="model.chronicIllness"
                        />
                        <label class="form-check-label" for="chronic2">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="chronic3"
                          :value="2"
                          v-model="model.chronicIllness"
                        />
                        <label class="form-check-label" for="chronic3">
                          No
                        </label>
                      </div>
                      <textarea
                        v-if="model.chronicIllness === 1"
                        name="msg"
                        id="chronicDescription"
                        class="form-control"
                        placeholder="Additional Note..."
                        required
                        v-model="model.chronicIllnessDescription"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block"
                        >Select Pet Vaccinations Received:</label
                      >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="vaccination1"
                          :value="0"
                          v-model="model.vaccinationsReceived"
                          checked
                        />
                        <label class="form-check-label" for="vaccination1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="vaccination2"
                          :value="1"
                          v-model="model.vaccinationsReceived"
                        />
                        <label class="form-check-label" for="vaccination2">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="vaccination3"
                          :value="2"
                          v-model="model.vaccinationsReceived"
                        />
                        <label class="form-check-label" for="vaccination3">
                          No
                        </label>
                      </div>
                      <textarea
                        v-if="model.vaccinationsReceived === 1"
                        name="msg"
                        id="vaccinationDescription"
                        class="form-control"
                        placeholder="Additional Note..."
                        required
                        v-model="model.vaccinationsReceivedDescription"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="d-block">Select Pet Sterilized:</label>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="sterilized1"
                          :value="0"
                          v-model="model.sterilized"
                          checked
                        />
                        <label class="form-check-label" for="sterilized1">
                          Not defined
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="sterilized2"
                          :value="1"
                          v-model="model.sterilized"
                        />
                        <label class="form-check-label" for="sterilized2">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="sterilized3"
                          :value="2"
                          v-model="model.sterilized"
                        />
                        <label class="form-check-label" for="sterilized3">
                          No
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="number"
                        id="age"
                        class="form-control"
                        placeholder="Age"
                        required
                        v-model="model.age"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="number"
                        id="weight"
                        class="form-control"
                        placeholder="Weight"
                        required
                        v-model="model.weight"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="race"
                        class="form-control"
                        placeholder="Race"
                        required
                        v-model="model.race"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <input
                        type="text"
                        id="color"
                        class="form-control"
                        placeholder="Race"
                        required
                        v-model="model.color"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <select
                        class="form-select"
                        id="pet"
                        v-model="model.province"
                        @change="update"
                      >
                        <option
                          v-for="p in provinces"
                          :value="p.id"
                          :key="p.id"
                        >
                          {{ p.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <select
                        class="form-select"
                        id="pet1"
                        v-model="model.city"
                        @change="update"
                      >
                        <option
                          v-for="c in province.cities"
                          :value="c.id"
                          :key="c.id"
                        >
                          {{ c.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <textarea
                        id="description"
                        class="form-control"
                        placeholder="Description Note..."
                        required
                        v-model="model.description"
                        @change="update"
                      ></textarea>
                    </div>
                  </div>
                  <div
                    v-show="isVisible"
                    class="
                      alert alert-warning alert-dismissible
                      fade
                      show
                      col-lg-12 col-md-12 col-sm-12
                    "
                    role="alert"
                  >
                    {{ description }}
                    <a
                      @click="isVisible = false"
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                      style="float: right !important"
                    >
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12" v-if="!id">
                    <div class="form-group">
                      <button type="submit" class="btn form-control">
                        <span
                          v-if="busy"
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        Register Now
                      </button>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12" v-else>
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn form-control"
                        :disabled="!change || busy"
                      >
                        <span
                          v-if="busy"
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        Update
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  nextTick,
  onMounted,
  reactive,
  ref,
  watch,
} from "vue";
import usePet from "@/modules/account/pet.module";
import { useRouter } from "vue-router";
import useProvince from "@/modules/account/province.module";

export default defineComponent({
  name: "PetRegister",
  props: {
    id: {
      type: String,
    },
  },
  setup(props) {
    const { doRegister, error, loading, doGetPetProfile, doUpdate } = usePet();
    const { doGetAllProvince } = useProvince();
    const busy = ref(false);
    const isVisible = ref(false);
    const imgKey = ref(0);
    const imageData = ref(null);
    const description = ref("");
    const pet = ref();
    const change = ref(false);
    const router = useRouter();
    const province: any = ref("");
    const provinces: any = ref("");
    let model: {
      description: any;
      age: any;
      weight: any;
      size: any;
      gender: any;
      allergies: any;
      receivesTreatment: any;
      chronicIllness: any;
      vaccinationsReceived: any;
      sterilized: any;
      race: any;
      color: any;
      allergiesDescription: any;
      receivesTreatmentDescription: any;
      chronicIllnessDescription: any;
      vaccinationsReceivedDescription: any;
      province: any;
      city: any;
      image: any;
      id: any;
    } = reactive({
      description: null,
      age: null,
      weight: null,
      size: 0,
      gender: 0,
      allergies: 0,
      receivesTreatment: 0,
      chronicIllness: 0,
      vaccinationsReceived: 0,
      sterilized: 0,
      race: null,
      color: null,
      allergiesDescription: null,
      receivesTreatmentDescription: null,
      chronicIllnessDescription: null,
      vaccinationsReceivedDescription: null,
      province: null,
      city: null,
      image: null,
      id: null,
    });

    if (props.id) {
      doGetPetProfile(props.id).then((item) => {
        pet.value = item;
        model.description = pet.value.description;
        model.age = pet.value.age;
        model.weight = pet.value.weight;
        model.size = pet.value.size;
        model.gender = pet.value.gender;
        model.allergies = pet.value.allergies;
        model.receivesTreatment = pet.value.receivesTreatment;
        model.chronicIllness = pet.value.chronicIllness;
        model.vaccinationsReceived = pet.value.vaccinationsReceived;
        model.sterilized = pet.value.sterilized;
        model.race = pet.value.race;
        model.color = pet.value.color;
        model.allergiesDescription = pet.value.allergiesDescription;
        model.receivesTreatmentDescription =
          pet.value.receivesTreatmentDescription;
        model.chronicIllnessDescription = pet.value.chronicIllnessDescription;
        model.vaccinationsReceivedDescription =
          pet.value.vaccinationsReceivedDescription;
        model.province = pet.value.province ? pet.value.province.id : null;
        model.city = pet.value.city ? pet.value.city.id : null;
        model.image = pet.value.image ? pet.value.image : null;
        model.id = pet.value.id ? pet.value.id : null;
      });
      doGetAllProvince().then((value) => {
        provinces.value = value;
        province.value = provinces.value.find(
          (element: any) => element.id === model.province
        );
      });
    } else {
      model = reactive({
        description: null,
        age: null,
        weight: null,
        size: 0,
        gender: 0,
        allergies: 0,
        receivesTreatment: 0,
        chronicIllness: 0,
        vaccinationsReceived: 0,
        sterilized: 0,
        race: null,
        color: null,
        allergiesDescription: null,
        receivesTreatmentDescription: null,
        chronicIllnessDescription: null,
        vaccinationsReceivedDescription: null,
        province: null,
        city: null,
        image: null,
        id: null,
      });
      doGetAllProvince().then((value) => {
        provinces.value = value;
        province.value = provinces.value[0];
        model.province = provinces.value[0].id;
      });
    }

    doGetAllProvince().then((value) => {
      provinces.value = value;
      province.value = provinces.value.find(
        (element: any) => element.id === model.province
      );
    });

    function update() {
      change.value =
        model.description != pet?.value?.description ||
        model.age != pet?.value?.age ||
        model.weight != pet?.value?.weight ||
        model.size != pet?.value?.size ||
        model.gender != pet?.value?.gender ||
        model.allergies != pet?.value?.allergies ||
        model.receivesTreatment != pet?.value?.receivesTreatment ||
        model.chronicIllness != pet?.value?.chronicIllness ||
        model.vaccinationsReceived != pet?.value?.vaccinationsReceived ||
        model.sterilized != pet?.value?.sterilized ||
        model.race != pet?.value?.race ||
        model.color != pet?.value?.color ||
        model.allergiesDescription != pet?.value?.allergiesDescription ||
        model.receivesTreatmentDescription !=
          pet?.value?.receivesTreatmentDescription ||
        model.chronicIllnessDescription !=
          pet?.value?.chronicIllnessDescription ||
        model.vaccinationsReceivedDescription !=
          pet?.value?.vaccinationsReceivedDescription ||
        model.province != pet?.value?.province.id ||
        model.city != pet?.value?.city.id ||
        model.image != pet?.value?.image;
    }

    function onSubmit() {
      if (!props.id) {
        console.log(model);
        doRegister(model)
          .finally(() => {
            if (error.value) {
              isVisible.value = !!error.value;
              switch (error.value.error) {
                case 503:
                  description.value = "Image required";
                  break;
                default:
                  description.value = "Unknown error code " + error.value.error;
              }
            } else {
              isVisible.value = !!error.value;
              router.push({ name: "pets" });
            }
          })
          .catch((reason) => {
            console.log(reason);
          });
      } else {
        if (typeof model.image === "string") {
          delete model.image;
        }
        if (!model.allergiesDescription) {
          delete model.allergiesDescription;
        }
        if (!model.receivesTreatmentDescription) {
          delete model.receivesTreatmentDescription;
        }
        if (!model.chronicIllnessDescription) {
          delete model.chronicIllnessDescription;
        }
        if (!model.vaccinationsReceivedDescription) {
          delete model.vaccinationsReceivedDescription;
        }
        doUpdate(model)
          .finally(() => {
            if (error.value) {
              isVisible.value = !!error.value;
              switch (error.value.error) {
                case 503:
                  description.value = "Image required";
                  break;
                default:
                  description.value = "Unknown error code " + error.value.error;
              }
            } else {
              isVisible.value = !!error.value;
              router.push({ name: "pets" });
            }
          })
          .catch((reason) => {
            console.log(reason);
          });
      }
    }

    function onFileChange(e: {
      target: { files: any };
      dataTransfer: { files: any };
    }) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      const reader = new FileReader();
      reader.onload = (e) => {
        (imageData.value as any) = e?.target?.result;
      };
      reader.readAsDataURL(files[0]);
      model.image = files[0];
      change.value = true;
    }

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    watch(
      () => model.image,
      async (newVal) => {
        imgKey.value += 1;
      }
    );

    watch(
      () => model.province,
      async (newVal) => {
        province.value = provinces.value.find(
          (element: any) => element.id === newVal
        );
        model.city = province.value.cities.find(
          (element: any) => element.id === model.city
        );
        if (model.city) {
          model.city = (model.city as any).id;
        } else {
          model.city = province.value.cities[0].id;
        }
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {
      onSubmit,
      model,
      busy,
      onFileChange,
      imgKey,
      imageData,
      isVisible,
      description,
      update,
      change,
      provinces,
      province,
    };
  },
});
</script>
