<template>
  <section>
    <div class="crumb">
      <div class="container">
        <h1>Adopt <span class="wow pulse" data-wow-delay="1s"> Pet </span></h1>
        <div class="bg_tran">Adopt Pet</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span> PETS </span>
        </p>
      </div>
    </div>
  </section>

  <div class="pet about second">
    <section class="team">
      <div class="container">
        <div class="heading text-center">
          <p class="wow fadeInUp">
            <span class="purple"><i class="fas fa-paw"></i> </span
            ><span class="orange"><i class="fas fa-paw"></i> </span
            ><span class="purple"><i class="fas fa-paw"></i> </span>
          </p>
          <h2 class="wow fadeInDown">
            Ready to Adopt
            <span class="wow pulse" data-wow-delay="1s"> Pets</span>
          </h2>
        </div>
        <div class="row" v-if="auth">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
              <select class="form-select" v-model="filter.group">
                <option :value="0">Pets</option>
                <option :value="1">My Pets</option>
                <option :value="2">My Request</option>
                <option :value="3" v-if="admin">Admin Pets</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" v-if="filter.group === 1">
            <div class="form-group">
              <select class="form-select" v-model="filter.status">
                <option :value="0" selected>all</option>
                <option :value="1">Active</option>
                <option :value="2">Pending</option>
                <option :value="3">Block</option>
                <option :value="4">Ended</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" v-if="filter.group === 2">
            <div class="form-group">
              <select class="form-select" v-model="filter.status">
                <option :value="0" selected>Actives</option>
                <option :value="1">Denied</option>
                <option :value="2">Acepted</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" v-if="filter.group === 3">
            <div class="form-group">
              <select class="form-select" v-model="filter.status">
                <option :value="0" selected>Pending</option>
                <option :value="1">Blocked</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="context text-center my-4" v-if="!items || !items.length">
            <h5 class="orange">No Data to Show</h5>
            <p>Check your filters</p>
          </div>
          <pet
            v-for="pet in items"
            :key="pet.id"
            :pet="pet"
            :group="filter.group"
          ></pet>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  nextTick,
  onMounted,
  reactive,
  ref,
  watch,
} from "vue";
import Pet from "@/components/Pet.vue";
import usePet from "@/modules/account/pet.module";
import useAccount from "@/modules/account/account.module";

export default defineComponent({
  name: "Pets",
  components: { pet: Pet },
  setup() {
    const { loading, doGetPets, doGetMePets, doGetAdminPets } = usePet();
    const { person, isAuthenticated, isAdmin } = useAccount();
    const auth = ref(isAuthenticated());
    const admin = ref(isAdmin());
    const busy = ref(false);
    const items = ref();
    const filter = reactive({
      group: 0,
      status: 0,
    });

    if (!auth.value) {
      doGetPets().then((value) => {
        items.value = value;
      });
    }

    if (auth.value) {
      doGetMePets({ group: 0 }).then((value) => {
        items.value = value;
      });
    }

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    watch(
      [() => filter.group, () => filter.status],
      async ([newA, newB], [prevA, prevB]) => {
        if (auth.value) {
          if (newA !== prevA) {
            filter.status = 0;
          }
          if (newA !== 3) {
            doGetMePets({ group: newA, status: newB }).then((value) => {
              items.value = value;
            });
          } else {
            doGetAdminPets({ group: newA, status: newB }).then((value) => {
              items.value = value;
            });
          }
        }
      }
    );

    watch(
      () => person.value,
      async () => {
        auth.value = isAuthenticated();
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return { items, filter, auth, admin };
  },
});
</script>
