<template>
  <section>
    <div class="crumb center">
      <div class="container">
        <h1>
          Pawrex <span class="wow pulse" data-wow-delay="1s"> Register </span>
        </h1>
        <div class="bg_tran">Registro Petihouse</div>
        <p>
          <router-link :to="{ name: 'home' }"> HOME</router-link>
          || <span>REGISTRO</span>
        </p>
      </div>
    </div>
  </section>

  <div class="pet login">
    <div class="pet service">
      <section class="contact">
        <div class="container">
          <div class="card">
            <div class="content">
              <div class="heading text-center">
                <p class="wow fadeInUp">
                  <span class="purple"><i class="fas fa-paw"></i> </span
                  ><span class="orange"><i class="fas fa-paw"></i> </span
                  ><span class="purple"><i class="fas fa-paw"></i> </span>
                </p>
                <h3 class="orange">
                  <span class="wow pulse" data-wow-delay="1s"> Register </span>
                </h3>
              </div>
              <div class="faq wow fadeInRight mt-4">
                <form method="POST" @submit.prevent="onSubmit()">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div
                        v-show="isVisible"
                        class="alert alert-warning alert-dismissible fade show"
                        role="alert"
                      >
                        {{ description }}
                        <a
                          @click="isVisible = false"
                          type="button"
                          class="close"
                          data-dismiss="alert"
                          aria-label="Close"
                          style="float: right !important"
                        >
                          <span aria-hidden="true">&times;</span>
                        </a>
                      </div>
                      <div class="form-group">
                        <input
                          type="email"
                          name="email"
                          id="email"
                          placeholder="Correo"
                          class="form-control"
                          required
                          v-model="model.email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          id="name"
                          class="form-control"
                          placeholder="Nombre"
                          required
                          v-model="model.name"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          id="lastname"
                          class="form-control"
                          placeholder="Apellido"
                          required
                          v-model="model.lastnames"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          id="phone"
                          class="form-control"
                          placeholder="Celular"
                          required
                          v-model="model.phone"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          id="id"
                          class="form-control"
                          placeholder="Cédula"
                          required
                          v-model="model.identificationCard"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="date"
                          id="date"
                          class="form-control"
                          placeholder="Fecha Nacimiento"
                          required
                          v-model="model.dateOfBirth"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <select
                          class="form-select"
                          id="province"
                          v-model="model.province"
                        >
                          <option
                            v-for="p in provinces"
                            :value="p.id"
                            :key="p.id"
                          >
                            {{ p.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <select
                          class="form-select"
                          id="city"
                          v-model="model.city"
                        >
                          <option
                            v-for="c in province.cities"
                            :value="c.id"
                            :key="c.id"
                          >
                            {{ c.name }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="text"
                          id="address"
                          class="form-control"
                          placeholder="Dirección"
                          required
                          v-model="model.address"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          placeholder="Contraseña"
                          required
                          v-model="model.password"
                        />
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group text-center mt-4">
                        <button
                          type="submit"
                          class="btn form-control"
                          :disabled="busy"
                        >
                          <span
                            v-if="busy"
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Signup
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  nextTick,
  onMounted,
  reactive,
  ref,
  watch,
} from "vue";
import useAccount from "@/modules/account/account.module";
import { useRouter } from "vue-router";
import useProvince from "@/modules/account/province.module";

export default defineComponent({
  name: "Register",
  setup() {
    const { person, loading, isAuthenticated, doRegisterAttempt, error } =
      useAccount();
    const { doGetProvince, doGetAllProvince } = useProvince();
    const router = useRouter();

    const model = reactive({
      email: "",
      password: "",
      name: "",
      lastnames: "",
      phone: "",
      dateOfBirth: "",
      address: "",
      province: "",
      city: "",
      identificationCard: "",
    });
    const busy = ref(false);
    const isVisible = ref(false);
    const description = ref("");
    const province: any = ref("");
    const provinces: any = ref("");
    doGetAllProvince().then((value) => {
      provinces.value = value;
      province.value = provinces.value[0];
      model.province = provinces.value[0].id;
    });
    function onSubmit() {
      doRegisterAttempt(model).finally(() => {
        if (!isAuthenticated() && !error.value) {
          router.push("/confirm");
        }
        if (error.value) {
          isVisible.value = !!error.value;
          switch (error.value.error) {
            case 409:
              description.value = "Correo registrado";
              break;
            default:
              description.value = "Unknown error code " + error.value.error;
          }
        }
      });
    }

    watch(
      () => loading.value,
      async (newVal) => {
        busy.value = newVal;
      }
    );

    watch(
      () => model.province,
      async (newVal) => {
        province.value = provinces.value.find(
          (element: any) => element.id === newVal
        );
        model.city = province.value.cities[0].id;
      }
    );

    onMounted(() => {
      nextTick(() => {
        let js = document.createElement("script");
        js.setAttribute("src", "js/script.js");
        js.setAttribute("id", "id");
        document.head.appendChild(js);
      });
    });
    return {
      onSubmit,
      isVisible,
      model,
      busy,
      description,
      provinces,
      province,
    };
  },
});
</script>
