<template>
  <li class="nav-item dropdown">
    <a
      href="#"
      class="hvr-overline-from-center nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      <img
        :src="
          image.image
            ? `http://localhost:5069/v1/account/image/${image.image}`
            : '../assets/images/fox.jpg'
        "
        width="40"
        height="40"
        class="avatar rounded-circle"
        :key="imgKey"
      />
    </a>
    <ul class="dropdown-menu">
      <li>
        <router-link :to="{ name: 'profile' }">
          {{ $t("profile") }}
        </router-link>
      </li>
      <li>
        <a @click="onLogOut"> {{ $t("logOut") }} </a>
      </li>
    </ul>
  </li>
</template>

<script lang="ts">
import { defineComponent, reactive, ref, watch } from "vue";
import useAccount from "@/modules/account/account.module";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "Avatar",
  setup() {
    const { person, doLogOut } = useAccount();
    const image = reactive({ image: person?.value?.person?.image });
    const router = useRouter();
    const imgKey = ref(0);
    watch(
      () => person.value,
      async (newVal) => {
        image.image = newVal?.person?.image;
        imgKey.value += 1;
      }
    );
    function onLogOut() {
      doLogOut()
        .catch((reason) => {
          console.log(reason);
        })
        .finally(() => {
          router.push("/");
        });
    }
    return { onLogOut, image, imgKey };
  },
});
</script>
