<template>
  <div class="button wow fadeInUp">
    <router-link
      :to="{ name: to.name, params: to.params }"
      class="btn main"
      v-if="to"
    >
      <slot></slot>
    </router-link>
    <router-link to="#" class="btn main" v-if="!to">
      <slot></slot>
    </router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent, nextTick, onMounted } from "vue";

export default defineComponent({
  name: "MyButton",
  props: {
    main: Boolean,
    to: {
      type: Object,
    },
  },
  setup(props) {
    onMounted(() => {
      nextTick(() => {
        // eslint-disable-next-line no-undef
        $("a.btn.main").addClass("hvr-rectangle-in");
      });
    });
    return {};
  },
});
</script>
