<template>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="member" v-if="pet.id">
      <div class="image">
        <img
          :src="`http://localhost:5069/v1/account/image/${pet.image}`"
          alt="image of pet"
          title="pet"
          class="img-fluid customer"
        />
      </div>
      <div class="content">
        <h4 class="wow fadeInDown">Scooby</h4>
        <ul>
          <li>
            <i class="fas fa-paw"></i>
            {{ pet.gender === 1 ? "Male" : "Female" }}, Age: {{ pet.age }}
          </li>
          <li>
            <i class="fas fa-paw"></i> Race: {{ pet.race }}, Color:
            {{ pet.color }}
          </li>
          <li>
            <i class="fas fa-paw"></i> {{ pet.province.name }},
            {{ pet.city.name }}
          </li>
        </ul>
        <my-button
          main
          :to="{ name: 'pet-profile', params: { id: pet.id } }"
          v-if="!group || (group && group === 0) || (group && group === 1)"
        >
          {{ person?.person?.id === pet.owner ? "Details" : "Adopt me" }}
          <i class="fas fa-paw"></i>
        </my-button>
        <my-button
          main
          :to="{ name: 'pet-profile', params: { id: pet.id } }"
          v-if="group && (group === 2 || group === 3)"
        >
          {{ "Details" }}
          <i class="fas fa-paw"></i>
        </my-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import MyButton from "@/components/Button.vue";
import { IPet } from "@/modules/account/models";
import useAccount from "@/modules/account/account.module";

export default defineComponent({
  name: "Pet",
  components: { MyButton },
  props: {
    pet: {
      type: Object as PropType<IPet>,
      required: true,
    },
    group: {
      type: Number,
    },
  },
  setup(props) {
    const { person } = useAccount();
    return { person };
  },
});
</script>
