<template>
  <div :class="`main-wrapper pet ${customClass}`">
    <!--    <div id="preloading"></div>-->
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "App",
  setup() {
    const route = useRoute();
    const customClass = ref("");
    watch(
      () => route.name,
      async () => {
        switch (route.name) {
          case "pet-profile":
            customClass.value = "profile";
            break;
          case "pet-donate":
          case "pet-register":
            customClass.value = "donate";
            break;
          case "about":
            customClass.value = "about";
            break;
          case "error404":
            customClass.value = "error";
            break;
          case "pets":
            customClass.value = "buy";
            break;
          case "login":
          case "confirm":
          case "recovery":
          case "password":
            customClass.value = "login";
            break;
          case "register":
            customClass.value = "register";
            break;
          case "contact":
            customClass.value = "contact secnd";
            break;
          case "profile":
            customClass.value = "check";
            break;
          case "person-admin":
            customClass.value = "cart";
            break;
        }
      }
    );
    return { customClass };
  },
});
</script>

<style lang="scss"></style>
