<template>
  <section class="featured">
    <div class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <router-link :to="{ name: 'home' }" class="navbar-brand">
            <img
              src="../assets/images/logo.png"
              width=""
              alt="image of logo"
              title="logo"
              class="img-fluid d-inline-block align-middle mr-2"
            />
            <span class="text-uppercase font-weight-bold"></span>
          </router-link>
          <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            class="navbar-toggler"
          >
            <span class="navbar-toggler-icon fa">&#xf0c9;</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <router-link
                  :to="{ name: 'about' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("about").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'pets' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("pets").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'contact' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("contact").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item">
                <router-link
                  :to="{ name: 'pet-donate' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("donation").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item" v-if="auth">
                <router-link
                  :to="{ name: 'pet-register' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("petRegister").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item" v-if="admin && auth">
                <router-link
                  :to="{ name: 'person-admin' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("admUsers").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item" v-if="!auth">
                <router-link
                  :to="{ name: 'login' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("login").toUpperCase() }}
                </router-link>
              </li>
              <li class="nav-item" v-if="!auth">
                <router-link
                  :to="{ name: 'register' }"
                  class="hvr-overline-from-center nav-link"
                >
                  {{ $t("register").toUpperCase() }}
                </router-link>
              </li>
              <avatar v-if="auth"></avatar>
              <li class="nav-item">
                <div class="search-box-outer">
                  <div class="search-box-btn">
                    <a href="#" class="nav-link"
                      ><i class="fas fa-search"></i
                    ></a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="hvr-overline-from-center nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  {{ locale }}
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a @click="locale = 'en-US'">
                      <span class="fas flag-icon flag-icon-us"></span> English
                    </a>
                  </li>
                  <li>
                    <a @click="locale = 'es-ES'"
                      ><span class="flag-icon flag-icon-mx"></span> Español
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main-header">
        <div class="sticky-header">
          <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
              <router-link :to="{ name: 'home' }" class="img-responsive">
                <img src="images/logo-small.png" alt="" title="" />
              </router-link>
            </div>
            <!--Right Col-->
            <div class="right-col pull-right">
              <!-- Main Menu -->
              <nav class="main-menu">
                <div class="navbar-header">
                  <!-- Toggle Button -->
                  <button
                    type="button"
                    class="navbar-toggle"
                    data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse"
                  >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse clearfix">
                  <ul class="navigation clearfix">
                    <li>
                      <router-link :to="{ name: 'about' }"
                        >{{ $t("about") }}
                      </router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: 'pets' }"
                        >{{ $t("pets") }}
                      </router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: 'contact' }">
                        {{ $t("contact") }}
                      </router-link>
                    </li>
                    <li>
                      <router-link :to="{ name: 'pet-donate' }">
                        {{ $t("donation") }}
                      </router-link>
                    </li>
                    <li v-if="auth">
                      <router-link :to="{ name: 'pet-register' }">
                        {{ $t("petRegister") }}
                      </router-link>
                    </li>
                    <li v-if="auth && admin">
                      <router-link :to="{ name: 'person-admin' }">
                        {{ $t("admUsers") }}
                      </router-link>
                    </li>
                    <li v-if="!auth">
                      <router-link :to="{ name: 'login' }">{{
                        $t("login")
                      }}</router-link>
                    </li>
                    <li v-if="!auth">
                      <router-link :to="{ name: 'register' }">
                        {{ $t("register") }}
                      </router-link>
                    </li>
                    <avatar v-if="auth"></avatar>
                  </ul>
                </div>
              </nav>
              <!-- Main Menu End-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider" v-if="$route.name === 'home'">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="text">
              <div class="heading">
                <h1>
                  Enjoy Your Holidays When you have
                  <span class="wow pulse" data-wow-delay="1s"> Pawrex</span>
                </h1>
              </div>
              <p class="wow fadeInDown">
                Speaking of Frenchies, we are definitely one of the best kennels
                in America. Our champs are born and raised in Louisiana.
              </p>
              <div class="button wow fadeInUp">
                <a href="#" class="btn main hvr-rectangle-in" title="contact">
                  Contact Us <i class="fas fa-paw"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="image">
              <div
                class="
                  an_image
                  an_image_hz_ps_right_end
                  an_image_vt_ps_top
                  an_image_anime_delay_300
                  an_image_anime_duration_1500
                  an_image_anime_style_ease_out_sine
                "
                data-speed="1.2"
              >
                <div class="an_image_image" data-speed="1.2">
                  <div class="pt_image">
                    <span
                      ><img
                        src="../assets/images/home_5/pets.png"
                        title="Pet"
                        alt="Image of Pet"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <router-view />

  <section class="new_foot">
    <div class="container">
      <div class="logo text-center">
        <a href="index.html" title="Logo">
          <img
            src="../assets/images/logo.png"
            alt="image of logo"
            title="logo"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="intro">
            <p class="head">Contact Info</p>
            <ul>
              <li class="location">32 Bell South, Harley St. FL</li>
              <li class="number">
                <a href="tel:+12345678900">+(1) 234 567 8900 </a>
              </li>
              <li class="gmail">
                <a href="mailto:support@pawrex.com"> support@pawrex.com </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12">
          <div class="letter text-center">
            <p class="head">Get Newsletter</p>
            <form method="post" action="contact.html">
              <div class="form-label-group">
                <input
                  type="email"
                  name="email2"
                  id="email2"
                  placeholder="EMAIL"
                  class="form-control white b_lblue"
                />
                <button type="submit" class="btn form-control">
                  SUBSCRIBE
                </button>
              </div>
            </form>
            <div class="links">
              <a href="#" class="btn" title="whatsapp"
                ><i class="fab fa-whatsapp"></i
              ></a>
              <a href="#" class="btn" title="twitter"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#" class="btn" title="instagram"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="btn" title="youtube"
                ><i class="fab fa-youtube"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="quick">
            <p class="head">Quick Links</p>
            <ul>
              <li>
                <a href="#" title="Home"
                  ><i class="fas fa-paw me-2"></i> Home</a
                >
              </li>
              <li>
                <a href="#" title="About Us"
                  ><i class="fas fa-paw me-2"></i> About Us</a
                >
              </li>
              <li>
                <a href="#" title="Our Services">
                  <i class="fas fa-paw me-2"></i>Our Services</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        &copy; Copyright 2021.<a href="#" class="name orange" title="PAWREX">
          PAWREX
        </a>
        All Rights Reserved &reg;
      </div>
      <div class="cat wow fadeIn">
        <img src="images/home_5/img-1.png" alt="image of pets" title="pets" />
      </div>
      <div class="dog wow fadeIn">
        <img src="images/home_5/img-2.png" alt="image of pets" title="pets" />
      </div>
    </div>
  </section>

  <div class="pet">
    <a id="back2Top" title="Back to top" href="#" class="hvr-radial-in"
      ><i class="fas fa-paw"></i
    ></a>
  </div>

  <div class="search-popup">
    <button class="close-search style-two">
      <img src="images/home_5/cross-out.png" alt="" />
    </button>
    <button class="close-search">
      <img src="images/home_5/cross-out.png" alt="" />
    </button>
    <form method="post" action="blog.html">
      <div class="form-group">
        <input
          type="search"
          name="search-field"
          value=""
          placeholder="Search Here"
          required
        />
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import Avatar from "@/components/Avatar.vue";
import useAccount from "@/modules/account/account.module";
import { useI18n } from "vue-i18n";
import useLang from "@/modules/lang.module";

export default defineComponent({
  name: "MainLayout",
  components: { Avatar },
  setup() {
    const { person, isAuthenticated, isAdmin } = useAccount();
    const auth = ref(isAuthenticated());
    const admin = ref(isAdmin());
    const { locale } = useI18n({ useScope: "global" });
    const { langIso, doChangeLang } = useLang();
    locale.value = langIso.value;
    watch(
      () => person.value,
      async () => {
        auth.value = isAuthenticated();
        admin.value = isAdmin();
      }
    );

    watch(
      () => locale.value,
      (newVal) => {
        console.log(newVal);
        void doChangeLang(newVal);
      }
    );

    return {
      auth,
      admin,
      locale,
      localeOptions: [
        { value: "en-US", label: "English" },
        { value: "pt-BR", label: "Portugues" },
      ],
    };
  },
});
</script>
